<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">

    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{surname}" id="lastname">
    <br/>


    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>


    <input type="submit" value="Save"/>
</form>
</body>
</html>